*{ margin: 0 auto;}

body {
	background:white;
	margin: 0 auto;
	font-family:georgia, times,serif;
	height:2000px;
	}

#header {
	position:fixed;
	top:0px;
	left:0px;
	background: #666;
	height:50px;
	width:100%;
	}

#page1 {
	height:1300px;
	background:#afc9ff;
	padding-top:150px;
	}

#page2 {
	height:1100px;
	background:#777cdc;
	padding-top:150px;
	}

#page3 {
	height:1100px;
	background:#9b70c0;
	padding-top:150px;
	}

#page4 {
	height:1100px;
	background:#afc9ff;
	padding-top:150px;
	}

.page-padding {height:90px; width:100%;}

a { color:white; text-decoration:none;}

a:hover { text-decoration:underline;}
